
.nav{
padding: 1rem;
margin-bottom: 2rem;
background-color: #94bd51;

}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 6rem;
}
.nav  a{
    color: white;
    text-decoration: none;
}

